@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@200;400;600&family=Rubik:wght@500&display=swap');

*{
    font-family: Montserrat;
}

.navbar.navbar-expand-lg {
    background-color: rgb(134, 38, 38);
    height: 5rem;
}

.fa-brands.fa-instagram.fa-2xl:hover,
.fa-brands.fa-linkedin-in.fa-2xl:hover,
.fa-brands.fa-twitter.fa-2xl:hover,
.fa-solid.fa-right-to-bracket.fa-2xl:hover {
    color: rgb(255, 255, 255);    
}

.list-group.list-group-horizontal {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
button.btn {
    background-color: rgb(134, 38, 38);
    color: rgb(255, 255, 255);
}

img.img-fluid.rounded-circle {
    margin-top: -40%;
    border:3px solid rgb(49, 48, 48);
    border-radius:50%;
    width:15rem;
    height:15rem;
    background-color: rgb(255,255,255);
    margin-left: 63rem;
}

div.col-6 {
    margin-top: -7.5rem;
}

div.col-6 h1 {
    font-size: 3.3rem;
    font-weight: bold;
    color: #fff;
}

div.col-6 h1 span.color {
    color: rgb(134, 38, 38);
}

div.col-6 h2 {
    font-size: 2.5rem;
    color: rgb(49, 48, 48);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contenedor-skills{
    background: linear-gradient(#eb5a5acc, rgba(33,16,16,.8)), url("assets\img\flat-lay-desk-with-laptop-and-eyeglasses-photo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

