@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@200;400;600&family=Rubik:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.navbar.navbar-expand-lg {
    background-color: rgb(134, 38, 38);
}

.fa-brands.fa-instagram.fa-2xl:hover,
.fa-brands.fa-linkedin-in.fa-2xl:hover,
.fa-brands.fa-twitter.fa-2xl:hover,
.fa-solid.fa-right-to-bracket.fa-2xl:hover {
    color: rgb(255, 255, 255);    
}

.list-group.list-group-horizontal {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}
button.btn {
    background-color: rgb(134, 38, 38);
    color: rgb(255, 255, 255);
}

img.img-fluid.rounded-circle {
    margin-top: -50%;
    border:3px solid rgb(49, 48, 48);
    border-radius:50%;
    width:15rem;
    height:15rem;
    background-color: rgb(255,255,255);
    margin-left: 57rem;
}

div.col-6 {
    margin-top: -7.5rem;
    font-family: 'Rubik', sans-serif;
}

div.col-6 h2 {
    font-size: 3.2rem;
    color: #fff;
}

div.col-6 h3 {
    font-size: 3rem;
    color: rgb(49, 48, 48);
}


